div.formButtonField { 
margin-left: 30%;
margin-top: 0.3em;
margin-bottom: 0.3em;
}
* html div.formButtonField input {
	margin-left: 3px;
}

div.tx-ptgsavoucher_p1 form {
	margin:0; padding:0;
}

div.tx-pt_gsavoucher_content .formRow {
	//clear: both;
	padding: 12px;
}
div.tx-pt_gsavoucher_content .Check {
	margin: 0px;
}

div.tx-pt_gsavoucher_content .tx-ptgsavoucher-txt { font-size:76%; font-weight:normal; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-txt2 { font-size:76%; font-weight:bold; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-txt3 { font-size:76%; font-weight:bold; color:#990000;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col1,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col2,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col3,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col4{
	float: left;
	width: 180px;
	z-index: 1;
}
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col5,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col6,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col7,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col8,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col9,
div.tx-pt_gsavoucher_content .tx-ptgsavoucher-col10{
	float: left;
	width: 75px;
	z-index: 1;
}
div.pt_gsavoucher_content .attention {
	font-weight: bold;
}

div.tx-ptgsavoucherCol .tx-ptgsavoucher-txt1 {
	font-weight: bold;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	//margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 1px;
}
table.tablesorter thead tr .header {
	//background-image: url(../js/image/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	color: #3D3D3D;
	font-size: 9pt;
	cursor: pointer;
	padding: 2px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter tbody tr.payed td {
	border: 1px solid #90EE90;
}
table.tablesorter thead tr .headerSortUp {
	//background-image: url(../js/image/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	//background-image: url(../js/image/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;

}
table.tablenosort {
	font-family:arial;
	background-color: #CDCDCD;
	//margin:10px 0pt 15px;
	font-size: 8pt;
	//width: 100%;
	text-align: left;
}
table.tablenosort thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	color: #3D3D3D;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 2px;
}
table.tablenosort thead tr .header {
	//background-image: url(../js/image/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	color: #3D3D3D;
	font-size: 9pt;
	cursor: pointer;
	padding: 2px;
}
table.tablenosort tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablenosort tbody tr.odd td {
	background-color:#F0F0F6;
}

