################################################################################
# Ignore SCMs: CVS, .svn, .hg
################################################################################
CVS
.cvsignore
.svn
.hg
.hgignore
 
################################################################################
# Ignore Eclipse IDE files
################################################################################
.buildpath
.project
.metadata
.settings
*~
